{
  "name": "${node_pkg}",
  "version": "${node_version}",
  "description": "Publish the official nushell binary to npm by @hustcer",
  "repository": {
    "type": "git",
    "url": "git+https://github.com/nushell/nushell.git"
  },
  "author": "hustcer <hustcer@gmail.com>",
  "homepage": "https://github.com/hustcer/nu-to-npm#readme",
  "os": [
    "${node_os}"
  ],
  "cpu": [
    "${node_arch}"
  ]
}
