{
  "name": "${node_pkg}",
  "version": "${node_version}",
  "repository": {
    "type": "git",
    "url": "git+https://github.com/nushell/nushell.git"
  },
  "author": "Orhun Parmaksız <orhunparmaksiz@gmail.com>",
  "homepage": "https://github.com/nushell/nushell#readme",
  "os": [
    "${node_os}"
  ],
  "cpu": [
    "${node_arch}"
  ]
}
